<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="icon" href="/static/images/LOGO_title.PNG" type="image/x-icon"/>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />

        <title>{{dictionary['title']}}</title>
		<style type="text/css">

		.Data-Content {
        width: 100%; /* 表單寬度 */
        line-height: 38px;
		}

		.Data-Title {
			float: left;
			width: 50%; /* Label寬度，視情況調整 */
			margin-right: 20px;
		}

		.Data-Items {
			float: left;
			width: 25%;
			line-height:39px;
		}

		.AlignRight {
			text-align: right;
		}

		.mytext {
			width: 150px;
			padding: 2px; //欄位內距
		}

		.mytext2 {
		width: 55px;
		padding: 1px; //欄位內距
		}

		</style>

		<script>
		function isHidden(oDiv){
		var vDiv = document.getElementById(oDiv);
		vDiv.style.display = (vDiv.style.display == 'none')?'block':'none';
		}
		</script>
</head>

<body>

        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <img src="/static/images/LOGO.PNG" width="120px;" style="margin-right: 5px;" />
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
				<a class="nav-item nav-link active" href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>

				<form id="form3" name="form3" method="post" action={{url_for('flow_model') }}>
				<label>{{dictionary['model']}}：</label>
				<select name="model" class="mytext">
				{%for i in range(1,modelsize)%}
				<option value="{{model[0][i]}}" {% if model[1][i]!=Null%}{% if modelvalue==model[0][i] %} selected= "selected"{% endif %}>{{model[1][i]}}{% endif %}</option>
				{%endfor%}
				</select>&nbsp;&nbsp;
				<input id="submit1" name="submit1" type="submit" value="Read">
				</form>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

				<form id="form2" name="form2" method="post" action={{url_for('flow_addr') }}>
				<label>{{dictionary['address']}}：</label>
				<input class="mytext2" type="number" min=1 max=250 name="addr" value={{addr}}>&nbsp;
				<input id="submit2" name="submit2" type="submit" value="Read">

				</form>

                </div>
            </div>
        </nav>

        <br />
        <br />
        <br />
        <br />
        <br />
	<!---Menu---------------->
	<form id="button1" name="button1" style="position: absolute; top:14%;right:90%;">
		<a style="width:120px;height:40px;" class="btn btn-light" href="http://127.0.0.1:5000/settings">{{dictionary['list1']}}</a><br />
		<a style="width:120px;height:40px;" class="btn btn-light" href="http://127.0.0.1:5000/status">{{dictionary['list2']}}</a><br />
		<a style="width:120px;height:40px;" class="btn btn-light" href="http://127.0.0.1:5000/smoke">{{dictionary['list3']}}</a><br />
		<a style="width:120px;height:40px;" class="btn btn-secondary" href="http://127.0.0.1:5000/flow">{{dictionary['list4']}}</a><br />
		<a style="width:120px;height:40px;" class="btn btn-light" href="http://127.0.0.1:5000/filter">{{dictionary['list5']}}</a><br />
		<a style="width:120px;height:40px;" class="btn btn-light" href="http://127.0.0.1:5000/system">{{dictionary['list6']}}</a><br />
		<a style="width:120px;height:40px;" class="btn btn-light" href="http://127.0.0.1:5000/advanced">{{dictionary['list7']}}</a><br />
		{%if model[88][seti]=="1" %}
		<a style="width:120px;height:40px;" class="btn btn-light" href="http://127.0.0.1:5000/zone_relay">{{dictionary['list8']}}</a><br />{%endif%}
	</form>

    <form method="post" name="pipe"  style="position: absolute; top:14%;right:75%;" action={{url_for('flow_pipe') }}>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<label>{{dictionary['pipe']}}：</label>
	<input type="radio" name="pipe" value="1" onchange="submit()" {% if pipe==1 %} checked = "checked"{% endif %}>1&nbsp;
	{% if model[3][seti] == "4" %}
		<input type="radio" name="pipe" value="2" onchange="submit()" {% if pipe==2 %} checked = "checked"{% endif %}>2&nbsp;
		<input type="radio" name="pipe" value="3" onchange="submit()" {% if pipe==3 %} checked = "checked"{% endif %}>3&nbsp;
		<input type="radio" name="pipe" value="4" onchange="submit()" {% if pipe==4 %} checked = "checked"{% endif %}>4&nbsp;
	{%endif%}
	</form>

	<form id="form1" name="form1" method="post" action={{url_for('flow_parameter') }}>
	<div class="Data-Content">
		<div class="Data-Title">
			<div class="AlignRight">
			{%if model[73][seti]=="1" %}
			<label>{{dictionary['flow1']}}：</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="radio" name="select1" value="1" {% if pu==1 %} checked = "checked"{% endif %}>&nbsp;ON&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="radio" name="select1" value="0" {% if pu==0 %} checked = "checked"{% endif %}>&nbsp;OFF&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
			{%endif%}
			{%if model[74][seti]=="1" %}
            <label>{{dictionary['flow2']}}：</label>
			<input class="mytext" style="width:150px;height:45px;" type="number" name="select2" min="101" max="200" value={{pfh}}><br />
			{%endif%}
			{%if model[75][seti]=="1" %}
            <label>{{dictionary['flow3']}}：</label>
			<input  class="mytext" style="width:150px;height:45px;" type="number" name="select3" min="0" max="99" value={{pfl}}><br />
			{%endif%}
			{%if model[76][seti]=="1" %}
			<label>{{dictionary['flow4']}}：</label>
			<input  class="mytext" style="width:150px;height:45px;" type="number"  name="select4" min="0" max="10" value={{pfs}}><br />
			{%endif%}
			{%if model[77][seti]=="1" %}
			<label>{{dictionary['flow5']}}：</label>
			<input  class="mytext" style="width:150px;height:45px;" type="number"  name="select5" min="0" max="5" value={{fs}}><br />
			{%endif%}
			{%if model[78][seti]=="1" %}
			<label>{{dictionary['flow6']}}：</label>
			<input type="radio" name="select6" value="1" {% if an==1 %} checked = "checked"{% endif %}>&nbsp;ON&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="radio" name="select6" value="0" {% if an==0 %} checked = "checked"{% endif %}>&nbsp;OFF&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
			{%endif%}
			{%if model[79][seti]=="1" %}
			<label>{{dictionary['flow7']}}：</label>
			<input type="radio" name="select7" value="1" {% if fn==1 %} checked = "checked"{% endif %}>&nbsp;ON&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="radio" name="select7" value="0" {% if fn==0 %} checked = "checked"{% endif %}>&nbsp;OFF&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
			{%endif%}


			<div style="cursor:pointer" onclick="isHidden('div1')">more</br></div>
			<div id ="div1" style="display:none">
			{%if model[80][seti]=="1" %}
			<label>{{dictionary['flow8']}}：</label>
			<input type="radio" name="select8" value="1" {% if fle==1 %} checked = "checked"{% endif %}>&nbsp;ON&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="radio" name="select8" value="0" {% if fle==0 %} checked = "checked"{% endif %}>&nbsp;OFF&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
			{%endif%}
			{%if model[81][seti]=="1" %}
			<label>{{dictionary['flow9']}}：</label>
			<input type="radio" name="select9" value="1" {% if flm==1 %} checked = "checked"{% endif %}>&nbsp;Rate&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="radio" name="select9" value="0" {% if flm==0 %} checked = "checked"{% endif %}>&nbsp;Change&nbsp;&nbsp;<br />
			{%endif%}
			{%if model[82][seti]=="1" %}
			<label>{{dictionary['flow10']}}：</label>
			{% if flm==0 %}
			<select class="mytext" name="select10" style="width:150px">
				<option value="1"{% if flcr==1 %} selected="selected"{% endif %}>0.01%</option>
				<option value="2"{% if flcr==2 %} selected="selected"{% endif %}>0.05%</option>
				<option value="3"{% if flcr==3 %} selected="selected"{% endif %}>0.1%</option>
				<option value="4"{% if flcr==4 %} selected="selected"{% endif %}>0.2%</option>
				<option value="5"{% if flcr==5 %} selected="selected"{% endif %}>0.5%</option>
				<option value="6"{% if flcr==6 %} selected="selected"{% endif %}>1%</option>
				<option value="7"{% if flcr==7 %} selected="selected"{% endif %}>2%</option>
				<option value="8"{% if flcr==8 %} selected="selected"{% endif %}>5%</option>
			</select><br>
			{% endif %}
			{% if flm==1 %}
			<select class="mytext" name="select10" style="width:150px">
				<option value="1"{% if flcr==1 %} selected="selected"{% endif %}>1</option>
				<option value="2"{% if flcr==2 %} selected="selected"{% endif %}>10</option>
				<option value="3"{% if flcr==3 %} selected="selected"{% endif %}>60</option>
				<option value="4"{% if flcr==4 %} selected="selected"{% endif %}>300</option>
				<option value="5"{% if flcr==5 %} selected="selected"{% endif %}>600</option>
				<option value="6"{% if flcr==6 %} selected="selected"{% endif %}>1200</option>
				<option value="7"{% if flcr==7 %} selected="selected"{% endif %}>1800</option>
				<option value="8"{% if flcr==8 %} selected="selected"{% endif %}>3600</option>
			</select><br>
			{% endif %}
			{%endif%}
			{%if model[83][seti]=="1" %}
			<label>{{dictionary['flow11']}}：</label>
			<input type="radio" name="select11" value="1" {% if frle==1 %} checked = "checked"{% endif %}>&nbsp;ON&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="radio" name="select11" value="0" {% if frle==0 %} checked = "checked"{% endif %}>&nbsp;OFF&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
			{%endif%}
			{%if model[84][seti]=="1" %}
			<label>{{dictionary['flow12']}}：</label>
			<input type="radio" name="select12" value="1" {% if frlm==1 %} checked = "checked"{% endif %}>&nbsp;Rate&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="radio" name="select12" value="0" {% if frlm==0 %} checked = "checked"{% endif %}>&nbsp;Change&nbsp;&nbsp;<br />
			{%endif%}
			{%if model[85][seti]=="1" %}
			<label>{{dictionary['flow13']}}：</label>
			{% if frlm==0 %}
			<select class="mytext" name="select13" style="width:150px">
				<option value="1"{% if frlcr==1 %} selected="selected"{% endif %}>0.01%</option>
				<option value="2"{% if frlcr==2 %} selected="selected"{% endif %}>0.05%</option>
				<option value="3"{% if frlcr==3 %} selected="selected"{% endif %}>0.1%</option>
				<option value="4"{% if frlcr==4 %} selected="selected"{% endif %}>0.2%</option>
				<option value="5"{% if frlcr==5 %} selected="selected"{% endif %}>0.5%</option>
				<option value="6"{% if frlcr==6 %} selected="selected"{% endif %}>1%</option>
				<option value="7"{% if frlcr==7 %} selected="selected"{% endif %}>2%</option>
				<option value="8"{% if frlcr==8 %} selected="selected"{% endif %}>5%</option>
			</select><br>
			{% endif %}
			{% if frlm==1 %}
			<select class="mytext" name="select13" style="width:150px">
				<option value="1"{% if frlcr==1 %} selected="selected"{% endif %}>1</option>
				<option value="2"{% if frlcr==2 %} selected="selected"{% endif %}>10</option>
				<option value="3"{% if frlcr==3 %} selected="selected"{% endif %}>60</option>
				<option value="4"{% if frlcr==4 %} selected="selected"{% endif %}>300</option>
				<option value="5"{% if frlcr==5 %} selected="selected"{% endif %}>600</option>
				<option value="6"{% if frlcr==6 %} selected="selected"{% endif %}>1200</option>
				<option value="7"{% if frlcr==7 %} selected="selected"{% endif %}>1800</option>
				<option value="8"{% if frlcr==8 %} selected="selected"{% endif %}>3600</option>
			</select><br>
			{% endif %}
			{%endif%}
			</div>
			<input id="submit3" name="submit3" type="submit" value={{dictionary['enter']}}>
			</div>
		</div>
	</div>
	</form>

</body>
</html>