<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="icon" href="/static/images/LOGO_title.png" type="image/x-icon"/>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />

        <title>{{dictionary['title']}}</title>
		<style type="text/css">

		.Data-Content {
        width: 100%; /* 表單寬度 */
        line-height: 38px;
		}

		.Data-Title {
			float: left;
			width: 50%; /* Label寬度，視情況調整 */
			margin-right: 20px;
		}

		.Data-Items {
			float: left;
			width: 25%;
			line-height:39px;
		}

		.AlignRight {
			text-align: right;
		}

		.mytext {
			width: 150px;
			padding: 2px; //欄位內距
		}

		.mytext2 {
		width: 55px;
		padding: 1px; //欄位內距
		}

		</style>

		<script>
		function isHidden(oDiv){
		var vDiv = document.getElementById(oDiv);
		vDiv.style.display = (vDiv.style.display == 'none')?'block':'none';
		}
		</script>
</head>

<body>

        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <img src="/static/images/LOGO.PNG" width="120px;" style="margin-right: 5px;" />
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
				<a class="nav-item nav-link active" href=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>

                </div>
            </div>
        </nav>
        <br />
        <br />
        <br />
        <br />
        <br />
	<!---Menu---------------->
	<form id="button1" name="button1" style="position: absolute; top:14%;right:90%;">
		<a style="width:120px;height:40px;" class="btn btn-secondary" href="http://127.0.0.1:5000/settings">{{dictionary['list1']}}</a><br />
		<a style="width:120px;height:40px;" class="btn btn-light" href="http://127.0.0.1:5000/status">{{dictionary['list2']}}</a><br />
		<a style="width:120px;height:40px;" class="btn btn-light" href="http://127.0.0.1:5000/smoke">{{dictionary['list3']}}</a><br />
		<a style="width:120px;height:40px;" class="btn btn-light" href="http://127.0.0.1:5000/flow">{{dictionary['list4']}}</a><br />
		<a style="width:120px;height:40px;" class="btn btn-light" href="http://127.0.0.1:5000/filter">{{dictionary['list5']}}</a><br />
		<a style="width:120px;height:40px;" class="btn btn-light" href="http://127.0.0.1:5000/system">{{dictionary['list6']}}</a><br />
		<a style="width:120px;height:40px;" class="btn btn-light" href="http://127.0.0.1:5000/advanced">{{dictionary['list7']}}</a><br />
		{%if model[88][seti]=="1" %}
		<a style="width:120px;height:40px;" class="btn btn-light" href="http://127.0.0.1:5000/zone_relay">{{dictionary['list8']}}</a><br />{%endif%}
	</form>

	</div>
	<form id="form1" name="form1" method="post" action={{url_for('settings_submit') }}>
	<div class="Data-Content">
		<div class="Data-Title">
			<div class="AlignRight">

				<label>{{dictionary['port']}}：</label>
				<select class="mytext" name="port" id="select1">
				{%for i in range(0,count)%}
				<option value="{{com[i][0]}}" {% if comd!=Null%} {% if comd==com[i][0] %} selected= "selected"{% endif %}>{{com[i]}}{% endif %}</option>
				{%endfor%}
				</select><br>
				<label>{{dictionary['address']}}：</label>
				<input class="mytext"  type="number" min=1 max=250 name="addr" value={{addr}}><br>

				<label>{{dictionary['baudrate']}}：</label>
				<select class="mytext" name="baud">
				<option value="300"{% if baud==300 %} selected="selected"{% endif %}>300</option>
				<option value="1200"{% if baud==1200 %} selected="selected"{% endif %}>1200</option>
				<option value="2400"{% if baud==2400 %} selected="selected"{% endif %}>2400</option>
				<option value="9600"{% if baud==9600 %} selected="selected"{% endif %}>9600</option>
				<option value="19200"{% if baud==19200 %} selected="selected"{% endif %}>19200</option>
				<option value="38400"{% if baud==38400 %} selected="selected"{% endif %}>38400</option>
				<option value="115200"{% if baud==115200 %} selected="selected"{% endif %}>115200</option>
				</select><br>

				<label>{{dictionary['timeout']}}：</label>
				<input class="mytext" type="int" name="time" value={{time}}><br />

				<label>{{dictionary['model']}}：</label>
				<select name="model" class="mytext">
				{%for i in range(1,modelsize)%}
				<option value="{{model[0][i]}}"{% if modelvalue==model[0][i] %} selected= "selected"{% endif %}>{{model[1][i]}}</option>
				{%endfor%}
				</select><br>
			<input id="submit3" name="submit3" type="submit" value="ENTER">
		</div>
		</div>
	</div>

	</form>

</body>
</html>